VIDEOCHAT_HOST=localhost
GOOGLE_OAUTH_CLIENT_ID=
VIDEOCHAT_APP_MODE=production
CADDY_IMAGE=caddy:2.10.2
VAULT_IMAGE=hashicorp/vault:1.17
FRONTEND_CONTAINER_NAME=videochat-frontend
BROKER_CONTAINER_NAME=videochat-broker
BACKOFFICE_CONTAINER_NAME=videochat-backoffice
CADDY_CONTAINER_NAME=videochat-caddy
VAULT_CONTAINER_NAME=videochat-vault
VAULT_INIT_CONTAINER_NAME=videochat-vault-init
CADDY_LOCAL_CA_FILENAME=caddy-local-root-ca.crt
VAULT_HOST_PORT=8200
VAULT_DEV_ROOT_TOKEN_ID=videochat-dev-root-token
VAULT_KV_MOUNT=secret
VAULT_PROVIDER_FIELD=jwks_json
BROKER_JWT_ENABLED=true
BROKER_JWT_CACHE_TTL=15m
BROKER_JWT_GOOGLE_ENABLED=true
BROKER_JWT_APPLE_ENABLED=true
BROKER_JWT_X_ENABLED=true
VAULT_GOOGLE_SECRET_PATH=jwt/providers/google
VAULT_GOOGLE_JWKS_URL=https://www.googleapis.com/oauth2/v3/certs
VAULT_APPLE_SECRET_PATH=jwt/providers/apple
VAULT_APPLE_JWKS_URL=https://appleid.apple.com/auth/keys
VAULT_X_SECRET_PATH=jwt/providers/x
VAULT_X_JWKS_URL=
