apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: ${K8S_NAMESPACE}
data:
  VIDEOCHAT_HOST: "${K8S_HOST}"
  GOOGLE_OAUTH_CLIENT_ID: "${GOOGLE_OAUTH_CLIENT_ID}"
  VIDEOCHAT_APP_MODE: "${VIDEOCHAT_APP_MODE}"
  VIDEOCHAT_AI_AGENT_ENABLED: "${VIDEOCHAT_AI_AGENT_ENABLED}"
  VIDEOCHAT_AI_AGENT_ENDPOINT: "${VIDEOCHAT_AI_AGENT_ENDPOINT}"
  VIDEOCHAT_AI_AGENT_NAME: "${VIDEOCHAT_AI_AGENT_NAME}"
  VIDEOCHAT_AI_AGENT_MENTION: "${VIDEOCHAT_AI_AGENT_MENTION}"
  BROKER_JWT_ENABLED: "${BROKER_JWT_ENABLED}"
  BROKER_JWT_CACHE_TTL: "${BROKER_JWT_CACHE_TTL}"
  BROKER_JWT_CLOCK_SKEW: "${BROKER_JWT_CLOCK_SKEW}"
  BROKER_JWT_GOOGLE_ENABLED: "${BROKER_JWT_GOOGLE_ENABLED}"
  BROKER_JWT_GOOGLE_AUDIENCE: "${BROKER_JWT_GOOGLE_AUDIENCE}"
  BROKER_JWT_GOOGLE_JWK_SET_URI: "${BROKER_JWT_GOOGLE_JWK_SET_URI}"
  BROKER_JWT_APPLE_ENABLED: "${BROKER_JWT_APPLE_ENABLED}"
  BROKER_JWT_APPLE_JWK_SET_URI: "${BROKER_JWT_APPLE_JWK_SET_URI}"
  BROKER_JWT_X_ENABLED: "${BROKER_JWT_X_ENABLED}"
  BROKER_JWT_X_JWK_SET_URI: "${BROKER_JWT_X_JWK_SET_URI}"
  SOCIAL_DB_NAME: "${SOCIAL_DB_NAME}"
  SOCIAL_DB_USER: "${SOCIAL_DB_USER}"
  MINIO_ROOT_USER: "${MINIO_ROOT_USER}"
  BACKOFFICE_AI_ENABLED: "${BACKOFFICE_AI_ENABLED}"
  BACKOFFICE_AI_MODEL: "${BACKOFFICE_AI_MODEL}"
  BACKOFFICE_AI_ASSISTANT_NAME: "${BACKOFFICE_AI_ASSISTANT_NAME}"
  BACKOFFICE_SOCIAL_GOOGLE_AUDIENCE: "${BACKOFFICE_SOCIAL_GOOGLE_AUDIENCE}"
  BACKOFFICE_SOCIAL_GOOGLE_JWK_SET_URI: "${BACKOFFICE_SOCIAL_GOOGLE_JWK_SET_URI}"
  BACKOFFICE_SOCIAL_MEDIA_ENABLED: "${BACKOFFICE_SOCIAL_MEDIA_ENABLED}"
  BACKOFFICE_SOCIAL_MEDIA_BUCKET: "${BACKOFFICE_SOCIAL_MEDIA_BUCKET}"
  BACKOFFICE_SOCIAL_MEDIA_MAX_UPLOAD_BYTES: "${BACKOFFICE_SOCIAL_MEDIA_MAX_UPLOAD_BYTES}"
  BACKOFFICE_SOCIAL_MEDIA_MAX_FILES_PER_POST: "${BACKOFFICE_SOCIAL_MEDIA_MAX_FILES_PER_POST}"
  GRAFANA_ADMIN_USER: "${GRAFANA_ADMIN_USER}"
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: ${K8S_NAMESPACE}
type: Opaque
stringData:
  SOCIAL_DB_PASSWORD: "${SOCIAL_DB_PASSWORD}"
  MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
  GRAFANA_ADMIN_PASSWORD: "${GRAFANA_ADMIN_PASSWORD}"
  BACKOFFICE_AI_API_KEY: "${BACKOFFICE_AI_API_KEY}"

